* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container1 {
    width:960px;
    margin:0 auto;
  
  }
  
  .frame1 {
    width:35vw;
    float: left;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    margin: 45px;
    padding-left: 50px;
   
  }
  
  .r1{
    border-color: rgb(231, 46, 154);
  }
  
  
  .b1{
    box-sizing: 20px;
    height:4vh;
    width:20vw ;
    margin-top: 18px;
    
  }

  .b2{
    box-sizing: 20px;
    height:4vh;
    width:20vw ;
  }
  
  .b3{
    box-sizing: 20px;
    height:4vh;
    width:20vw ;
  }
  .b4{
    box-sizing: 20px;
    height:4vh;
    width:20vw ;
  } 

  .b5{
    box-sizing: 20px;
    height:4vh;
    width:20vw ;
  }

  .b6{
    height:4vh ;
    width:10vw ;
  }


  .b7{
    height:4vh ;
    width:10vw ;
  }
  .vertical {
    border: 1px solid #D2D2D2;
    height:80vh;
    position:absolute;
    left: 850px;
    top: 140px;
    
  }
  
  .col2{
    width:38vw;
    float:left;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 2vmin;
    line-height: 32px;
    margin: 50px;
    padding-left: 30px;
    margin-left:320px;
    
  }
  
  .heading{
    font-size: 3vmin;
    margin-bottom: 20px;
  }
  
.horizontal{
  width: 25vw;
  border: 2px solid #D2D2D2;
  margin: 10px;
}
  .order{
    color: #D2D2D2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 120px;
    gap: 12px;
    background: #2D2D2D;
    border-radius: 6px;
    margin-top: 30px;
    font-size: 2vmin;
  }

 


.price1{
  padding-left: 320px;
  color: black;
}


.price2{
  padding-left: 220px;
  color: green;
}

.price3{
  padding-left: 220px;
  color:black ;
}
 
.price4{
  padding-left: 230px;
  color: green;
}

.price5{
  padding-left: 230px;
}