.container1 {
    width:960px;
    margin:0 auto;
  
  }
  
  
  
  
  .frame1 {
    width:450px;
    float: left;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    margin: 40px;
    padding-left: 50px;
   
  }
  
  .payment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    position: absolute;
    width: 528px;
    height: 496px;
    left: 81px;
    top: 236px;
  }
  
  .r1{
    color: rgb(238, 58, 169);
  }
  .f1{
    box-sizing: 30px;
    height:35px;
    width:300px ;
  }
  
  .vertical {
    border: 1px solid #D2D2D2;
    height:700px;
    position:absolute;
    left: 600px;
    top: 140px;
    
  }
  
  .col2{
    width:450px;
    float:left;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    margin: 30px;
    padding-left: 150px;
    margin-left:350px;
   
  }
  
  .frame4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }
  
  .order{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1px 70px;
    gap: 15px;
    background: #2D2D2D;
    border-radius: 8px;
  }