*{
  margin: 0px;
  }

  .body{
    box-sizing: border-box;
  }

.head {
    position: absolute;
    font-size: 3vmin;
    margin-top: 50px;
    margin-left: 150px;
    color: #0a0707;
    font-family: 'Poppins';
    font-style: bold;
    font-weight: 700;
    line-height: 64px;
    }
    
 
    
  .para {
    position: absolute;
    width: 37vw;
    height: 35vh;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 1vmin;
    line-height: 24px;
    color: #302f2f;
  
    }

   
    
  
   .image-about {
    position: absolute;
    width: 50vw;
    height: 20vh;
    left: 1050px;
    top: 1px;
   }

   .row{
    display: flex;
    align-items:center ;
    width: 100%;
    justify-content: space-between;
   }

   .row .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start ;
    padding: 20px;
    font-weight: 900;
    font-size: 25px;
    font-style: bold;
   }

   .body, html {
    overflow-x: hidden;
   }
