*{
  margin: 0px;
  }

  .body{
    box-sizing: border-box;
  }

.head {
    position: absolute;
    font-size: 3vmin;
    margin-top: 50px;
    margin-left: 150px;
    color: #0a0707;
    font-family: 'Poppins';
    font-style: bold;
    font-weight: 800;
    line-height: 64px;
    }
    
 
    
  .para {
    position: absolute;
    width: 33vw;
    height: 35vh;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 2vmin;
    line-height: 24px;
    color: #302f2f;
  
    }

   
    
  
   .image-about {
    position: absolute;
    width: 50vw;
    height: 20vh;
    left: 990px;
    top: 1px;
   }

  

