.card{
  float:left;
  padding-left:150px ;
  padding-top: 80px;

}

.f1{
  width: 384px;
  height: 48px;
  Border:5px;
  background-color: #D2D2D2;
}

.f2{
  width: 384px;
  height: 48px;
  Border:5px;
  background-color: #D2D2D2;
}

.f3{
  width: 384px;
  height: 128px;
  Border:5px;
  background-color: #D2D2D2;

  
}

.send{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 178px;
  gap: 15px;
  background: #2D2D2D;
  border-radius: 8px;
}

.image{
  float:left;
  background-color:#DB6B97 ;
  background-size: 900px ;
  padding-top: 50px;
  padding-left: 80px;
  padding-right: 250px;
  padding-bottom: 45px;
  margin-top: 150px;
  margin-left: 350px;

  
}

.image2{
  float: right ;
  Width:184px;
  Height:214px;
  margin-top: 450px;
  margin-right: 20px;
  background-position: fixed;
  
  
}